html,body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}


/* ALL MAIN CONTAINERS
|
|
|
|
*/

.container-main{
    height: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}


.container-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    background: rgb(5, 142, 167);
    box-shadow: 3px 0 10px black;
}
.container-topbar {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    min-height: 200px;
    background-color: rgba(221, 220, 220, 0.651);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 5px 5px 8px black;
}

.container-main-window {
    overflow-y: auto;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: rgba(68, 68, 68, 0.432);
}


#container-reminders {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(221, 220, 220, 0.651);
    border-radius: 10px;
    box-shadow: 0px -3px 7px rgb(109, 109, 109);
    max-height: 350px;
}

 
/* ALL CSS SIDEBAR
|
|
|
|
*/

.container-goto-links {
    display: flex;
    flex-direction: column;
}

#container-settings-links {
    margin-top: 40px;
}

.sidebar-link {
    display: flex;
}

.sidebar-icons {
    width: 40px;
    height: 40px;
    padding-left: 25px;
    margin: 5px 0 5px 0;
}

#container-sidebar-header {
    display: flex;
    margin-left: 30px;
}

#sidebar-header-logo {
    width: 65px;
    height: 65px;
    align-self: center;
}

#sidebar-header {
    color: rgb(255, 255, 255);
    padding-left: 30px;
    font-size: 40px;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.685);
}

.sidebar-link-text {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding-left: 10px;
    font-weight: 550;
    align-self: center;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.747);
}

.link-image {
    min-width: 50px;
    min-height: 50px;
}
#header-links {
    align-self: center;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}


#container-links-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.432);
    margin: 0 10px 20px 10px;
    box-shadow: 2px 2px 10px rgb(109, 109, 109);
}

#container-link-cards {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;

}

.link-card {
    margin: 0 15px 0 15px;
}



/* ALL CSS TOPBAR 
|
|
|
|
*/

.container-greet-actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: -5px;

}

.container-greeting {
    display: flex;
    margin-left: 50px;

}

.container-actions {
    display: flex;
    justify-content: end;
    margin: 2px 30px 0 0;
}

.action-button {
    height: 70px;
    width: 130px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(5, 142, 167);
    color: white;
    transition: height 0.15s, width 0.15s;
}

.action-button:hover {
    height: 80px;
    width: 140px;
    background-color: green;
}

.container-search-profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;

}

.container-profile {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}

.image-profile-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}

#profile-name-link {
    text-decoration: none;
    font-size: 30px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.61);
    color: black;
    margin: 0 10px 0 5px;
}

#container-searchbar {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#searchbar {
    width: 400px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.151);
    font-size: 20px;
    background-color: rgb(216, 216, 216);
    margin-right: 25px;
}

#search-button {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(255, 254, 254, 0.637);
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.418);
    background-color: rgb(5, 142, 167);
    color: white;
}

#search-button:hover {
    background-color: green;
}


#image-greeting-icon {
    width: 80px;
    height: 80px;
    margin: 0 20px 0 0;
    align-self: center;
}

#profile-name-link {
    align-self: center;
}





/* ALL CSS MAIN/PROJECT WINDOW
|
|
|
|
*/


.container-projects-cards-grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 20px;
    margin: 10px 0 10px 40px;
}

.container-project-card {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    min-height: 200px;
    max-height: 200px;
    min-width: 450px;
    max-width: 450px;
    margin: 20px 5px 5px 10px;
    background-color: rgba(255, 255, 255, 0.432);
    box-shadow: 2px 2px 10px rgb(109, 109, 109);
    border-radius: 7px;
    border-left: 6px solid yellow;
    
}

.project-folder-buttonimg {
    width: 40px;
    height: 30px;
}


.project-card-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.project-button {
    margin: 0 3px 0 3px;
    background-color: rgba(2, 108, 150, 0.801);
    border-radius: 8px;
    height: 40px;
    width: 60px;
    font-size: 16px;
    color: white;
    transition: height 0.15s, width 0.15s;

}

.project-button:hover {
    height: 43px;
    width: 63px;
    background-color: green;
}

/* ALL CSS LINKS AND REMINDERS
|
|
|
|
*/




#container-reminder-card-grid {
    display: flex;
    flex-wrap: wrap;
    max-height: 250px;
    overflow-y: auto;
    margin: 0 10px 15px 0;


}

.container-reminder-card {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    min-height: 200px;
    max-height: 200px;
    min-width: 350px;
    max-width: 350px;
    margin: 20px 5px 5px 10px;
    background-color: rgba(255, 255, 255, 0.432);
    box-shadow: 2px 2px 10px rgb(109, 109, 109);
    border-radius: 7px;
    border-left: 6px solid yellow;
}


#reminders-header {
    align-self: center;
}

.reminder-card-header {
    margin: 10px 0 -5px 10px;
    font-weight: 600;
    font-size: 22px;
}

.reminder-card-text {
    font-size: 20px;
    margin-left: 10px;
}

.reminder-card-buttons {
    display: flex;
    justify-content: end;
    margin: 0 30px 10px 0;
}

.reminder-button {
    height: 40px;
    width: 60px;
    margin: 2px;
    border-radius: 8px;
    background-color: rgba(2, 108, 150, 0.801);
    color: white;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.226);
    transition: width 0.15s;
}


.reminder-button:hover {
    width: 63px;
    background-color: green;
}


